{
    "presets": [
        ["@babel/env", {
            "targets": {
                "browsers": "last 2 versions, not dead"
              }
        }],
        "@babel/react"
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import", "react-hot-loader/babel"]
}